*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: grey;
}

#container {
    margin-top:100px;
    height: 480px;
    width: 480px;
    border: 1px solid #aca8a8;
    display: flex;
    flex-wrap:wrap; 
}

.pixel {
    border: 1px solid darkgrey;
    width: calc(100% / 16);
    height: calc(100% / 16);       
}
/* 
.pixel:hover {
    background-color: black;
    /* transition: ; 
    transition-duration: 1s;
} */

.drawn {
    background-color: black;
}

